.todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0, 0.3);
}

.todo[data-dragged] {
  background-color: #03165e;
}

.todo > * {
  color: white;
}

/* .todo::before {
  display: inline-block;
  background-color: currentColor;
  content: '';
  width: 20px;
  height: 20px;
  /* border: 1px solid #464646; 
  border-radius: 50%;
  margin-right: 10px;
} */

.edit {
  margin-left: auto;
}

.grip {
  cursor: grab;
  color: inherit;
}

.completed {
  text-decoration: line-through;
  filter: grayscale(100%) brightness(0.4) saturate(400%);
}
