#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.todos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.todos li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0, 0.3);
}

.todos li > * {
  color: white;
}

.todos li::before {
  display: inline-block;
  background-color: currentColor;
  content: '';
  width: 20px;
  height: 20px;
  /* border: 1px solid #464646; */
  border-radius: 50%;
  margin-right: 10px;
}

.edit {
  margin-left: auto;
}
